<html lang="en" >
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
md-menu-content {
	padding: 10px;
}
.md-headline{
	line-height:70px;
}
md-icon .infos{
	font-size:24px;
}
.moreop{
	display: flex;
	flex-direction: row-reverse;
	line-height: 40px;
	margin-bottom:20px;
}
a{
	text-decoration: none;
    color: cadetblue;
}
</style>
</head>

<body ng-app="app" ng-cloak ng-controller="MainController">
<md-card>
	<!-- Card Header -->
	<md-card-header>
		<md-button class="md-fab">
			<md-icon><i class="fa fa-link" aria-hidden="true" style="font-size: 24px;"></i></md-icon>
		</md-button>
		
		<md-card-header-text>
            <span class="md-headline">Make Reservation On Devide</span> {{test}}</md-card-title-text>
        </md-card-header-text>
	</md-card-header>
	<md-divider></md-divider>
	
	<!-- main content -->
	<md-card-content>
		<div layout-gt-xs="row">
			<md-input-container class="md-icon-float md-block" flex-gt-sm>
				<label>Scanner</label>
				<md-icon><i class="fa fa-search" aria-hidden="true"></i></md-icon>
				<input ng-model="scanner" type="text">
			</md-input-container>
			<md-input-container class="md-icon-float md-block" flex-gt-sm>
				<label>Asset Device 001</label>
				<md-icon><i class="fa fa-search" aria-hidden="true"></i></md-icon>
				<input ng-model="device" type="text">
			</md-input-container>
		</div>

		<div layout="row">
			<!-- infos -->
			<div flex>
				<md-button class="md-icon-button" aria-label="Name">
					<md-tooltip md-direction="bottom"> Name </md-tooltip>
					<md-icon> <i class="fa fa-tablet infos" aria-hidden="true"></i> </md-icon>
				</md-button>
				<span class="infos">{{device_info.name}}</span>
				<md-button class="md-icon-button" aria-label="Serial Number">
					<md-tooltip md-direction="bottom"> Serial Number </md-tooltip>
					<md-icon> <i class="fa fa-list-ol infos" aria-hidden="true"></i> </md-icon>
				</md-button>
				<span class="infos">{{device_info.serialNumber}}</span>
				<md-button class="md-icon-button" aria-label="Last Heartbeat">
					<md-tooltip md-direction="bottom"> {{device_info.lastHeartbeat}} </md-tooltip>
					<md-icon> <i class="fa fa-heartbeat infos" aria-hidden="true"></i> </md-icon>
				</md-button>
				<span class="infos">2016-08-08 06:06:06 EST</span> 
			</div>
			
			<!-- right options -->
			<div flex="30">
				<div class="md-menu-demo" ng-controller="filterController as ctrl">
					<div class="menu-demo-container" layout-align="center center" layout="row">
						<md-button class="md-icon-button" ><i class="fa fa-refresh md-icon-button" aria-hidden="true"></i></md-button>
						<md-button class="md-icon-button" ><i class="fa fa-bookmark md-icon-button" aria-hidden="true"></i></md-button>

						<md-menu>
							<md-button aria-label="menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
								<i class="fa fa-ellipsis-v md-icon-button" aria-hidden="true"></i>
							</md-button>
							<md-menu-content width="3">
								<md-menu-item>
									<md-checkbox aria-label="Available" ng-model="ctrl.available" ng-init="ctrl.available = true"> Available </md-checkbox>
								</md-menu-item>
								<md-menu-item>
									<md-checkbox aria-label="Reserved" ng-model="ctrl.reserved" ng-init="ctrl.reserved = true"> Reserved </md-checkbox>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</div>
				</div>
			</div>
		</div>
		
		<!-- list start -->
		<md-list flex ng-controller="listController">
			<div layout="row" layout-align="space-around center">
				<md-subheader flex="10" class="md-no-sticky" ng-click="listOrder = 'position'">Position</md-subheader>
				<md-subheader flex="15" class="md-no-sticky" ng-click="listOrder = 'assetID'">Asset ID</md-subheader>
				<md-subheader flex="20" class="md-no-sticky" ng-click="listOrder = 'lockerSize'">Locker Size</md-subheader>
				<md-subheader flex="20" class="md-no-sticky" ng-click="listOrder = 'recharger'">Recharger</md-subheader>
				<md-subheader flex="10" class="md-no-sticky" ng-click="listOrder = 'tag'">Tag</md-subheader>
				<md-subheader flex="15" class="md-no-sticky" ng-click="listOrder = 'status'">Status</md-subheader>
				<md-subheader flex="10" class="md-no-sticky" ng-click="listOrder = 'link'">Link</md-subheader>
			</div>
			<md-divider ></md-divider>

			<div ng-repeat="item in reservations | orderBy: listOrder">
				<md-list-item>
					<div flex="10">{{item.position}}</div>
					<div flex="15"><a href="/{{item.assetID}}">{{item.assetID}}</a></div>
					<div flex="20">{{item.lockerSize}}</div>
					<div flex="20">{{item.recharger}}</div>
					<div flex="10"><i class="fa fa-wheelchair" aria-hidden="true" ng-if="item.tag"></i></div>
					<div flex="15">{{item.status}}</div>
					<div flex="10"><a href="{{item.link}}"><i class="fa fa-link" aria-hidden="true"></i></a></div>
				</md-list-item>
				<md-divider ></md-divider>
			</div>
		</md-list>

		<div class="row moreop">
			<div flex="10">
				<a href=""><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
				<a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
			</div>

			<div flex="10"> 1-5 of 20 <a href=""><i class="fa fa-sort-desc" aria-hidden="true"></i></a></div>
			<div flex="20"> Rows per page: 5 <a href=""><i class="fa fa-sort-desc" aria-hidden="true"></i></a></div>
			<div flex="10"> Page: 1 <a href=""><i class="fa fa-sort-desc" aria-hidden="true"></i></a></div>
		</div>
	</md-card-content>
	
	<!-- Card Action -->
	<md-divider></md-divider>
	<md-card-actions layout="row" layout-align="end center">
		<md-button>Cancle</md-button>
	</md-card-actions>
</md-card>

<!-- Angular Material requires Angular.js Libraries --> 
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library --> 
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Your application bootstrap  --> 
<script type="text/javascript" src="js/ui-mockup.js"></script>
</body>
</html>